<p style="color: green"><%= notice %></p>
<div class='row'>
  <div class='col-md-12 text-center'>
    <h1 >Livros</h1>
  </div>
</div>

<div id="books">
       <% @books.each do |book| %>
    <%= render book %>
</div>
    <div class ="row justify-content-center ">
      <div class= "col-md-2 " >
            <button type="button" class="btn btn-outline-secondary"><%= link_to "Mostrar Livro", book %></button>
           
          
      </div>
    </div>

  <% end %>

    

     <div class ="row justify-content-center ">
      <div class= "col-md-3 " >
            <button type="button" class="btn btn-outline-secondary m-5"><%= link_to "Novo Livro", new_book_path %></button>

        
          
      </div>
    </div>

       
   
